# ignore everything, then allow the release files
*

!.gitignore
!*.html
!*.md
!LICENSE

# GitHub Pages / Jekyll
!_config.yml
!_includes/
!_includes/**

# re-ignore drafts and editor junk
ch_*
20*
.#*
*~
\#*
